.welcome-message h1 {
    font-family: 'Edward';
    font-size: 48px;
}

.server-error {
    color: #741c21;
    font-size: 0.875rem;
}

/* --- Light Mode (Leave as is) --- */
:host ::ng-deep .p-checkbox .p-checkbox-box {
    border-color: #741C21 !important;
}

:host ::ng-deep .p-checkbox-checked .p-checkbox-box {
    background-color: #741C21 !important;
    border-color: #741C21 !important;
}


:host-context(.dark) ::ng-deep .p-checkbox .p-checkbox-box {
    border-color: #f472b6 !important;
    /* Tailwind's pink-400 */
    background-color: transparent !important;
}

:host-context(.dark) ::ng-deep .p-checkbox-checked .p-checkbox-box {
    background-color: #f472b6 !important;
    border-color: #f472b6 !important;
}

:host-context(.dark) ::ng-deep .p-checkbox-checked .p-checkbox-box .p-checkbox-icon {
    color: #1c1917 !important;
    /* Makes the check icon visible against pink */
}
form{
  --p-inputtext-focus-border-color: #a6252a !important;

}
