<section class="p-4 w-full h-full flex flex-col flex-1" #topAnchor>
    <div class="grid grid-cols-12 gap-4 flex-1">

        <!-- Filter Container -->
        <div class="filter-container col-span-12 md:col-span-3">
            <app-filter-panel [resetSignal]="filterResetCounter()" (filterEvent)="filter($event)" />
        </div>

        <!-- Products Container -->
        @if((isLoading() || !hasLoaded()) && !error()){
        <div class="spinner-container col-span-12 md:col-span-9 flex flex-col p-4 h-full flex-1">
            <lib-spinner></lib-spinner>
        </div>
        }
        @if(hasLoaded() && !error() && (isLoading() || products().length)){
        <div class="products-container col-span-12 md:col-span-9 flex flex-col p-4 h-full flex-1">

            @if(isLoading()){
            <!-- Skeleton Cards Grid -->
            <div
                class="cards-container grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
                @for (_ of [].constructor(productsPerPage()); track $index) {
                <lib-skeleton-card></lib-skeleton-card>
                }
            </div>
            } @else {
            <!-- Cards Container Grid -->
            <div
                class="cards-container animate-stagger grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
                @for (product of products(); track product.id) {
                <div class="product-card-container w-full h-full">
                    <lib-product-card [product]="product" (addToCart)="onAddToCart($event)"
                        (wishlistToggle)="onWishlistToggle($event)"></lib-product-card>
                </div>
                }
            </div>
            }

            <!--paginator-->
            <div class="paginator-container flex justify-center mt-auto pt-6">
                <lib-paginator [pFirst]="first()" [pItemsPerPage]="productsPerPage()"
                    [pTotalItems]="totalResults()" (pPageChange)="onPageChange($event)"></lib-paginator>
            </div>

        </div>
        }
        @if(!isLoading() && hasLoaded() && !error() && !products().length){
        <app-empty-products (clearFilters)="onClearFilters()"></app-empty-products>
        }
        @if(!isLoading() && error()){
        <div
            class="error-container col-span-12 md:col-span-9 flex flex-col items-center justify-center p-4 h-full flex-1">
            <span>{{error()}}</span>
        </div>
        }

    </div>
</section>

