<div class="dash-card revenue-card">
  <div class="dash-card__header">
    <h3>Revenue</h3>
    <div class="revenue-card__controls">
      <p-select
        [options]="periodOptions"
        [ngModel]="selectedPeriod"
        (ngModelChange)="onPeriodChange($event)"
        [style]="{ minWidth: '7.5rem' }"
        size="small"
      ></p-select>
      <span class="dash-card__link">Last Week</span>
    </div>
  </div>

  <div class="revenue-card__chart-wrap">
    @if(highlightValue){
 <div class="revenue-card__badge" >{{ highlightValue }}</div>
    }

    <p-chart type="line" [data]="chartData" [options]="chartOptions" height="220px"></p-chart>
  </div>
</div>
