<section class="grid md:grid-cols-12 min-h-screen">
    <div class="min-h-full flex flex-col items-center justify-center gap-4 md:col-span-6 px-20 py-20 w-full">
        <div class="translate-switch-button w-full">
            <span class="block text-end font-light">العربية</span>
        </div>
        <div class="separator-container w-[70%] mx-auto">
            <img src="/assets/images/rose-auth-separator.png" alt="separator" class="block w-full">
        </div>
        <div class="auth-state-container w-full">
            <router-outlet></router-outlet>
        </div>
        <div class="separator-container w-[70%] mx-auto">
            <img src="/assets/images/rose-auth-separator.png" alt="separator" class="block w-full rotate-180">
        </div>
    </div>
    <div class="auth-caption h-full hidden md:flex md:col-span-6 items-center justify-center">
    </div>
</section>
