<div class="flex flex-column gap-2">

  @if(label) {
    <label>
      {{ label }}

      @if(required) {
        <span class="text-red-500">*</span>
      }
    </label>
  }

  @switch(type) {

    @case('text') {
      <input
        pInputText
        [value]="value"
        [placeholder]="placeholder"
        [disabled]="disabled"
         [readonly]="readonly"
        (input)="update($any($event.target).value)"
      />
    }

    @case('email') {
      <input
        pInputText
        type="email"
        [value]="value"
        [placeholder]="placeholder"
        [disabled]="disabled"
         [readonly]="readonly"
        (input)="update($any($event.target).value)"
      />
    }

    @case('password') {

      <p-password
        [ngModel]="value"
        [feedback]="false"
        [disabled]="disabled"
        (ngModelChange)="update($event)"
      />
    }

    @case('number') {

      <p-inputNumber
        [ngModel]="value"
        [disabled]="disabled"

        (ngModelChange)="update($event)"
      />
    }

    @case('textarea') {

      <textarea
        pTextarea
        rows="4"
        [disabled]="disabled"
        [placeholder]="placeholder"
         [readonly]="readonly"
        (input)="update($any($event.target).value)"
      >{{ value }}</textarea>

    }

    @case('select') {

      <p-select
        [options]="options"
        [optionLabel]="optionLabel"
        [optionValue]="optionValue"
        [ngModel]="value"
        [placeholder]="placeholder"
        [disabled]="disabled"
        (ngModelChange)="update($event)"
      />
    }

    @case('multiselect') {

      <p-multiSelect
        [options]="options"
        [optionLabel]="optionLabel"
        [optionValue]="optionValue"
        [ngModel]="value"
        [disabled]="disabled"
        (ngModelChange)="update($event)"
      />
    }

    @case('checkbox') {

      <p-checkbox
        [binary]="true"
        [ngModel]="value"
        [disabled]="disabled"
        (ngModelChange)="update($event)"
      />
    }

    @case('switch') {

      <p-toggleswitch
        [ngModel]="value"
        [disabled]="disabled"
        (ngModelChange)="update($event)"
      />
    }

    @case('date') {

      <p-datepicker
        [ngModel]="value"
        [disabled]="disabled"
        (ngModelChange)="update($event)"
      />
    }
  }
 @if(hasError){

    <small class="p-error">
      {{ errorMessage  }}
    </small>

  }

</div>
