<section class="shipping-address flex flex-col items-start gap-4">
    <h2 class="text-black dark:text-white font-medium text-[30px] w-full">{{ 'addresses.SHIPPING_ADDRESS' | translate }}
    </h2>
    <div class="content-container w-full">
        @if(_store.isLoading()){
        <div class="p-10 flex items-center justify-center">
            <lib-spinner></lib-spinner>
        </div>
        }
        @if(!_store.isLoading() && !_store.error()){
        @if(_store.entities().length){
        <div class="cards-container flex flex-col items-stretch gap-4 w-full">
            @for(address of _store.entities(); track address.id){
            <app-select-address-card [cardCity]="address.city" [cardStreet]="address.street" [cardPhone]="address.phone"
                [isMainAddress]="address.isPrimary" [addressId]="address.id"
                [isSelected]="selectedAddressId() === address.id"
                (cardSelectedId)="onAddressSelect($event)"></app-select-address-card>
            }
        </div>
        }
        @if(_store.entities().length === 0){
        <div class="empty-page-conatiner w-full">
            <app-empty-page></app-empty-page>
        </div>
        }
        }
        @if(!_store.isLoading() && _store.error()){
        <div class="error-page-container w-full p-10 flex items-center justify-center">
            <lib-message [title]="'addresses.LOADING_ERROR' | translate">
                <p>{{_store.error()}}</p>
            </lib-message>
        </div>
        }
    </div>
    <div class="button-container w-full border-t-2 border-solid border-t-zinc-300 dark:border-t-zinc-200 py-6 relative">
        <span
            class="text-zinc-300 dark:text-zinc-200 text-[18px] absolute top-0 left-[50%] -translate-1/2 font-medium bg-white dark:bg-[#18181b]">{{
            'addresses.OR' | translate }}</span>
        <app-address-modal-button (modalOpened)="toggleModal($event)"></app-address-modal-button>
    </div>
    @if(isModalOpened()){
    <div
        class="overlay-container fixed inset-0 flex items-center justify-center bg-black/40 z-5000 backdrop-blur-sm animate-fade-in">
        <div class="modal-container w-[90%] md:w-[60%] max-w-2xl max-h-[85vh] overflow-hidden rounded-2xl shadow-2xl">
            <app-my-addresses-modal (modalClosed)="toggleModal($event)"></app-my-addresses-modal>
        </div>
    </div>
    }
</section>