<div class="product-card">

  <!-- Wishlist -->
  <button
    class="wishlist-btn"
    (click)="onWishlist()">

    <i
      [class]="product._count.wishlistItems > 0 ? 'pi pi-heart-fill' : 'pi pi-heart'">
    </i>

    <span>
      {{ (product._count.wishlistItems > 0 ? 'Remove from wishlist' : 'Add to wishlist') | translate }}
    </span>
  </button>

  <!-- Badges -->
  <!-- <div class="badges">
    @for (badge of product.badges; track $index) {
      <span class="badge" [ngClass]="badge.toLowerCase()">
        {{ badge | translate }}
      </span>
    }
    @if (product.isOutOfStock) {
      <span class="badge out-stock">{{ 'OUT OF STOCK' | translate }}</span>
    }
  </div> -->

  <!-- Product Image -->
  @if (product.id) {
    <a  [routerLink]="['/home', 'products', product.id]" class="image-wrapper product-card__link">
      <img [src]="product.cover" [alt]="product.cover">
    </a>
  } @else {
    <div class="image-wrapper">
      <img [src]="product.cover" [alt]="product.cover">
    </div>
  }

  <!-- Product Info -->
  <div class="content">
    @if (productLink) {
      <h3 class="product-title">
        <a [routerLink]="productLink" class="product-card__link">{{ product.title }}</a>
      </h3>
    } @else {
      <h3 class="product-title">{{ product.title }}</h3>
    }

    <div class="rating">
      <p-rating
        [(ngModel)]="product.rating"
        [readonly]="true">
      </p-rating>
    </div>

    <div class="price">
      <span class="current-price">
        {{ product.price | number:'1.2-2' }} {{ currency }}
      </span>
      <!-- @if (product.discountValue > 0) {
        <span class="old-price">
          {{ (product.price - product.discountValue) | number:'1.2-2' }} {{ currency }}
        </span>
      } -->
    </div>

    <div class="flex justify-end">
      <app-button
        variant="danger"
        icon="pi pi-cart-arrow-down"
        [iconOnly]="true"
        [disabled]="product._count.cartItems >= product.stock ? true : false"
        [shape]="'circle'"
        [size]="'sm'"
        (clicked)="onAddToCart()"
        ariaLabel="Add">
      </app-button>
    </div>
  </div>
</div>
