.product-card {
  position: relative;
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  transition: .3s;
  height: 100%;

  &:hover {
    transform: translateY(-4px);
  }
}

.image-wrapper {
  background: #f7f1ea;
  border-radius: 18px;
  overflow: hidden;
  aspect-ratio: 1;
  display: block;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.product-card__link {
  color: inherit;
  text-decoration: none;
}

.badges {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  gap: 6px;
  z-index: 2;
}

.badge {
  font-size: 11px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 50px;
  color: #fff;
}

.hot {
  background: #FBEAEA;
  color: #b3262d !important;
}

.new {
  background: #d9d9d9;
  color: #333;
}

.sale {
  background: #2dbf64;
}

.out-stock {
  background: #dc2626;
}

.wishlist-btn {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 2;

  display: flex;
  align-items: center;
  gap: 6px;

  border: none;
  border-radius: 50px;
  background: white;
  padding: 6px 12px;
  cursor: pointer;

  i {
    color: #b3262d;
  }
}

.content {
  padding: 14px 8px;
}

.product-title {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: 600;
  color: #741C21;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-title .product-card__link {
  color: inherit;
  text-decoration: none;
}

.rating {
  display: flex;
  gap: 2px;
  color: #ffb800;
  margin-bottom: 8px;
}

::ng-deep .p-rating-option-active .p-rating-icon {
  color: #ffb800 !important;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.current-price {
  font-weight: 700;
  color: #741C21;
  font-size: 18px;
}

.old-price {
  text-decoration: line-through;
  color: #9e9e9e;
  font-size: 15px;
}

.cart-btn {
  position: absolute;
  right: 12px;
  bottom: 12px;

  width: 48px;
  height: 48px;

  border: none;
  border-radius: 50%;
  background: #b3262d;
  color: white;
  cursor: pointer;

  i {
    font-size: 20px;
  }

  &:disabled {
    background: #cfcfcf;
    cursor: not-allowed;
  }
}
:host-context(.dark)  .product-card {
  background: transparent !important;
}
:host-context(.dark)  .current-price ,:host-context(.dark)  .product-title{
  color: #ffc1d0;

}
:host-context(.dark) .wishlist-btn span ,:host-context(.dark) .wishlist-btn i{
    color: #fff;
}
:host-context(.dark) .wishlist-btn {
    background: #000000b8;
}
