.welcome-message h1 {
  font-family: 'Edward';
  font-size: 48px;
}

.success-message {
  color: #166534;
  font-size: 0.95rem;
}

.email-hint {
  font-size: 0.875rem;
  word-break: break-word;
}
form{
  --p-inputtext-focus-border-color: #a6252a !important;

}
