<div class="flex h-screen bg-gray-50 overflow-hidden" dir="ltr">
  
  <aside class="hidden md:flex md:w-64 md:flex-col border-r h-screen border-gray-100 bg-white sticky top-0">
    <app-sidebar class="h-full w-full block"></app-sidebar>
  </aside>
  @if (isMobileMenuOpen()) {
  <div  class="fixed inset-0 z-50 flex md:hidden">
    <div class="fixed inset-0 bg-gray-900/40 backdrop-blur-sm" (click)="toggleMobileMenu()"></div>
    <div class="relative w-64 bg-white h-full z-10 shadow-2xl ml-auto">
      <app-sidebar (closeMenu)="toggleMobileMenu()"></app-sidebar>
    </div>
  </div>

  }

  <div class="flex flex-col flex-1 overflow-hidden relative">
    <app-navbar (menuClick)="toggleMobileMenu()"></app-navbar>

    <main class="flex-1 overflow-y-auto p-4 md:p-6 pb-20 md:pb-6">
      <router-outlet></router-outlet>
    </main>


<div class="md:hidden fixed bottom-0 left-0 right-0 z-50 px-4 pb-3 pt-2 bg-linear-to-t from-white via-white  to-transparent pointer-events-none">
  <nav class="pointer-events-auto relative bg-white dark:bg-[#202938] rounded-3xl shadow-xl border border-gray-100 flex items-center justify-around px-2 py-2 min-h-16">
    
    <a 
      routerLink="/admin/overview" 
      routerLinkActive="!bg-[#EED9DF] !text-[#6B1426]"
      [routerLinkActiveOptions]="{ exact: false }"
      class="flex flex-col items-center justify-center py-2 px-3 rounded-2xl text-gray-500 dark:text-[#ffc2cc] transition-all text-[11px] font-medium gap-0.5"
    >
      <i class="pi pi-th-large text-lg"></i>
      <span>
        {{'ADMIN.NAVIGATION.OVERVIEW' | translate}}
      </span>
    </a>

    <a 
      routerLink="/admin/categories" 
      routerLinkActive="!bg-[#EED9DF] !text-[#6B1426]"
      class="flex flex-col items-center justify-center py-2 px-3 rounded-2xl text-gray-500 dark:text-[#ffc2cc] transition-all text-[11px] font-medium gap-0.5"
    >
      <i class="pi pi-list text-lg"></i>
      <span>
        {{'ADMIN.NAVIGATION.CATEGORIES' | translate}}

      </span>
    </a>

    <div class="relative -top-5 flex items-center justify-center">
      <button class="w-12 h-12 bg-[#85162B] dark:bg-[#ffc2cc] hover:bg-[#6B1426] text-white dark:text-[#ffc2cc] rounded-full flex items-center justify-center shadow-lg border-4 border-white transition-transform active:scale-95">
        <i class="pi pi-th-large text-xl"></i>
      </button>
    </div>

    <a 
      routerLink="/admin/occasions" 
      routerLinkActive="!bg-[#EED9DF] !text-[#6B1426]"
      class="flex flex-col items-center justify-center py-2 px-3 rounded-2xl text-gray-500 dark:text-[#ffc2cc] transition-all text-[11px] font-medium gap-0.5"
    >
      <i class="pi pi-calendar text-lg"></i>
      <span>
        {{'ADMIN.NAVIGATION.OCCASIONS' | translate}}

      </span>
    </a>

    <a 
      routerLink="/admin/products" 
      routerLinkActive="!bg-[#EED9DF] !text-[#6B1426]"
      class="flex flex-col items-center justify-center py-2 px-3 rounded-2xl text-sm text-gray-500 dark:text-[#ffc2cc] transition-all text-[11px] font-medium gap-0.5"
    >
      <i class="pi pi-box text-lg"></i>
      <span>
        {{'ADMIN.NAVIGATION.PRODUCTS' | translate}}
        
      </span>
    </a>

  </nav>
</div>

    <app-footer class="hidden md:block"></app-footer>
  </div>
</div>