<section class="about-section font-primary">
  <div class="about-container">
    
    <div class="about-images-side">
      <div class="about-shape-outline"></div>
      
      <div class="main-image-wrapper">
        <img src="/assets/images/aboutUs3" alt="Main Gift Box" class="about-img-main">
      </div>
      
      <div class="side-images-column">
        <div class="sub-image-wrapper circle-img">
          <img src="/assets/images/aboutUs2" alt="Gift Detail 1">
        </div>
        <div class="sub-image-wrapper oval-img">
          <img src="/assets/images/aboutUs1" alt="Gift Detail 2">
        </div>
      </div>
    </div>

    <div class="about-content-side">
      <span class="about-tag">{{ 'about.tag' | translate }}</span>
      
      <h2 class="about-title">
        {{ 'about.titlePart1' | translate }} 
        <span class="text-pink">{{ 'about.titleHighlight1' | translate }}</span> 
        {{ 'about.titlePart2' | translate }} 
        <span class="text-dark-red">{{ 'about.titleHighlight2' | translate }}</span> 
        {{ 'about.titlePart3' | translate }}
      </h2>
      
      <p class="about-description">
        {{ 'about.description' | translate }}
      </p>
      
      <button class="btn-discover">
        {{ 'about.discover' | translate }}
        <i class="pi pi-arrow-right"></i>
      </button>
      
      <div class="about-features-grid">
        <div class="feature-item">
          <i class="pi pi-check feature-icon"></i>
          <span>{{ 'about.features.prices' | translate }}</span>
        </div>
        <div class="feature-item">
          <i class="pi pi-check feature-icon"></i>
          <span>{{ 'about.features.quality' | translate }}</span>
        </div>
        <div class="feature-item">
          <i class="pi pi-check feature-icon"></i>
          <span>{{ 'about.features.occasion' | translate }}</span>
        </div>
        <div class="feature-item">
          <i class="pi pi-check feature-icon"></i>
          <span>{{ 'about.features.delivery' | translate }}</span>
        </div>
      </div>
    </div>

  </div>