


<section class="most-popular font-primary">
  <div class="max-w-7xl mx-auto px-4">
    
    <div class="most-popular__header">
      <h2 class="most-popular__title">{{ 'mostPopular.title' | translate }}</h2>
       <div class="most-popular__filters">
 
<a href="#" 
     class="filter-link"
     [class.active]="activeFilter() === 'All'"
     (click)="changeFilter('All', $event)">
     {{ 'mostPopular.All' | translate }}
  </a>
  

@for (category of categories(); track category.badges) {
    <a href="#" 
       class="filter-link"
       [class.active]="activeFilter() === category.name"
       (click)="changeFilter(category.name, $event)">
       {{ category.name }}
    </a>
  }
      </div>
    </div>

    <!-- حاوية شبكة المنتجات -->



    <!-- <div class="most-popular__grid-container">
      @if (isLoading()) {
        <div class="most-popular__state">
          <lib-spinner></lib-spinner>
        </div>
      } @else if (error()) {
        <div class="most-popular_state most-popular_state--error">
          {{ error() | translate }}
        </div>
      } @else {
        <div class="most-popular__grid">
          @for (product of products(); track product.id) {
            <div class="most-popular__grid-item">
              <product-card
                [product]="product"
                (addToCart)="onAddToCart($event)"
                (wishlistToggle)="onWishlistToggle($event)">
              </product-card>
            </div>
          }
        </div>
      }
    </div> -->


    <div class="most-popular__grid-container">

  @for (product of products(); track product.id) {
    <product-card [product]="product"
    (addToCart)="onAddToCart($event)"
    (wishlistToggle)="onWishlistToggle($event)">

    ></product-card>
  } @empty {
    <p class="text-center w-full py-8 text-gray-500">No products found</p>
  }


    <!-- رابط عرض المزيد -->
    <div class="most-popular__view-more-container">
      <a  class="most-popular__view-more">{{ 'mostPopular.viewMore' | translate }} <i class="pi pi-arrow-right"></i></a>
    </div>
  </div>