<section class="trusted-section">
  <div class="trusted-container">
   
<section-header [title]="'Trusted by over 4.5k+ companies'" [showUnderline]="false"></section-header>
    <div class="companies">
      <img src="/assets/images/coconut.png" alt="Coconut">
      <img src="/assets/images/ginyard.png" alt="Ginyard">
      <img src="/assets/images/lingoude.png" alt="Lingoude">
      <img src="/assets/images/velvet.png" alt="Velvt">
      <img src="/assets/images/ingoud.png" alt="Ingenicle">
      <img src="/assets/images/houbu.png" alt="Habun">
    </div>
  </div>
</section>