<section>
<div class="features-section dark:bg-gray-400">
  <div class="feature-item">
    <div class="icon-circle">
      <i class="pi pi-truck"></i>
    </div>
    <div class="content">
      <h4 class="dark:text-pink-300">{{"Free Delivery" | translate}}</h4>
      <p>{{"For orders above 120 EGP" | translate}}</p>
    </div>
  </div>

  <div class="feature-item">
    <div class="icon-circle dark:bg-pink-300">
      <i class="pi pi-refresh"></i>
    </div>
    <div class="content">
      <h4>{{'Get Refund' | translate}}</h4>
      <p>{{"Refunds within 30 days" | translate}}</p>
    </div>
  </div>

  <div class="feature-item">
    <div class="icon-circle">
      <i class="pi pi-shield"></i>
    </div>
    <div class="content">
      <h4>{{"Safe Payment" | translate}}</h4>
      <p>{{"100% Secure Payment" | translate}}</p>
    </div>
  </div>

  <div class="feature-item">
    <div class="icon-circle">
      <i class="pi pi-headphones"></i>
    </div>
    <div class="content">
      <h4>{{"24/7 Support" | translate}}</h4>
      <p>{{"Contact us at any time" | translate}}</p>
    </div>
  </div>
</div>
</section>
