

<div class="max-w-7xl mx-auto p-6 bg-gray-50 dark:bg-[#27272a] min-h-screen transition-colors duration-300">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold text-gray-800 dark:text-zinc-100">{{ 'ORDERS.TITLE' | translate }}</h1>
  </div>

  @if (!store.isLoading() && store.hasOrders()) {
    <div class="flex flex-col gap-6">
      @for (order of store.ordersByNewest(); track order.id) {
        <div class="bg-zinc-200 dark:bg-zinc-800 rounded-lg border border-gray-200 dark:border-slate-700 shadow-sm overflow-hidden transition-colors duration-300">
          
          <div class="bg-[#A6252A] dark:bg-[#580016] text-white px-6 py-3 flex justify-between items-center text-sm font-medium">
            <span class="font-semibold text-base">{{ 'ORDERS.ORDER_NUMBER' | translate }}{{ order.id.slice(-6).toUpperCase() }}</span>
            <span class="text-gray-200 dark:text-zinc-300">{{ 'ORDERS.CREATED_IN' | translate }}: {{ order.createdAt | date:'dd MMMM, yyyy \'at\' hh:mm a' }}</span>
          </div>

          <div class="p-6 pb-2">
            <div class="flex justify-between items-center mb-4">
              
              <div class="flex items-center gap-3">
                <span class="text-xl font-bold text-gray-900 dark:text-zinc-50">
                  {{ 'ORDERS.TOTAL_PRICE' | translate }}: {{ order.total }} {{ 'ORDERS.EGP' | translate }}
                </span>
                
                <span 
                  [ngClass]="{
                    'bg-emerald-100 text-emerald-700 dark:bg-emerald-950/60 dark:text-emerald-400': order.paymentStatus.toLowerCase() === 'paid',
                    'bg-red-100 text-red-700 dark:bg-red-500/20 dark:text-red-400': order.paymentStatus.toLowerCase() === 'canceled',
                    'bg-amber-100 text-amber-700 dark:bg-amber-500/20 dark:text-amber-400': order.paymentStatus.toLowerCase() === 'pending'
                  }"
                  class="px-3 py-1 rounded-full text-xs font-semibold uppercase">
                  @switch (order.paymentStatus.toLowerCase()) {
                    @case ('paid') { {{ 'ORDERS.STATUS.PAID' | translate }} }
                    @case ('canceled') { {{ 'ORDERS.STATUS.CANCELED' | translate }} }
                    @case ('pending') {{{ 'ORDERS.STATUS.PENDING' | translate }} }
                     @default { ● {{ order.paymentStatus  }} }
                  }
                </span>
              </div>

              <div class="flex items-center gap-2">
                <span class="text-sm font-semibold text-gray-700 dark:text-slate-300">{{ 'ORDERS.STATUS_TITLE' | translate }}:</span>
                
                <span 
                  [ngClass]="{
                    'bg-[#2B99E5]': order.status.toLowerCase() === 'pending',
                    'bg-[#D9383A]': order.status.toLowerCase() === 'canceled',
                    'bg-[#34B3A0]': order.status.toLowerCase() === 'delivered'
                  }"
                  class="text-white px-3 py-1 rounded-full text-xs font-semibold capitalize shadow-xs">
                  
                  @switch (order.status.toLowerCase()) {
                    @case ('pending') { {{ 'ORDERS.STATUS.IN_PROGRESS' | translate }} }
                    @case ('canceled') { {{ 'ORDERS.STATUS.CANCELED' | translate }} }
                    @case ('delivered') {{{ 'ORDERS.STATUS.DONE' | translate }} }
                    @default { {{ order.status }} }
                  }
                </span>
              </div>

            </div>

            <div class="text-sm text-gray-500 dark:text-zinc-400 space-y-1">
              <p>
                <span class="font-medium text-gray-700 dark:text-zinc-300">{{ 'ORDERS.PAYMENT_METHOD' | translate }}:</span> 
                {{ order.paymentMethod }}
              </p>
              <p>
                <span class="font-medium text-gray-700 dark:text-zinc-300">{{ 'ORDERS.DELIVERY_STATUS' | translate }}:</span> 
                <span class="font-semibold capitalize ml-1 text-gray-700 dark:text-zinc-300">
                  {{ order.status  }}
                </span>
              </p>
            </div>

            <div class="mt-4 pt-4 border-t border-gray-100 dark:border-zinc-800">
              <p class="text-sm font-semibold text-gray-700 dark:text-zinc-300 mb-3">{{ 'ORDERS.ORDER_ITEMS' | translate }}:</p>
              
              <div class="relative bg-white dark:bg-zinc-900">

                <div 
                  [class.max-h-[175px]]="!isExpanded(order.id)"
                  [class.max-h-[3000px]]="isExpanded(order.id)"
                  class="grid grid-cols-1 md:grid-cols-2 gap-4 overflow-hidden transition-all duration-300 ease-in-out">
                  
                  @for (item of order.orderItems; track item.id) {
                    <div class="flex items-center gap-4 p-3 rounded-lg border border-gray-100 dark:border-zinc-700 bg-gray-50/50 dark:bg-zinc-900/60">
                      <img 
                        [src]="item.product.cover" 
                        [alt]="item.product.title" 
                        class="w-20 h-20 object-cover rounded-md border border-gray-200 dark:border-zinc-700" 
                      />
                      <div class="flex-1">
                        <h4 class="font-semibold text-gray-800 dark:text-zinc-200 text-sm line-clamp-1">
                          {{ item.product.title }}
                        </h4>
                        <div class="flex items-center text-amber-500 text-xs my-1">
                          ★ <span class="text-gray-600 dark:text-zinc-400 ml-1">
                            {{ 'ORDERS.RATING' | translate }}: {{ item.product.rating || 5 }}/5 ({{ item.product.ratings || 0 }} {{ 'ORDERS.RATINGS_COUNT' | translate }})
                          </span>
                        </div>
                        <div class="flex justify-between items-center text-xs mt-1">
                          <span class="font-bold text-gray-900 dark:text-zinc-100 text-sm">{{ item.price }} {{ 'ORDERS.EGP' | translate }}</span>
                          <span class="text-gray-500 dark:text-zinc-400">{{ 'ORDERS.QTY' | translate }}: {{ item.quantity }}</span>
                        </div>
                      </div>
                    </div>
                  }
                </div>

                @if (order.orderItems.length > 2 && !isExpanded(order.id)) {
                  <div class="absolute bottom-0 inset-x-0 h-20 bg-linear-to-t from-zinc-200/50 via-zinc-200/80 to-transparent dark:from-slate-800 dark:via-zinc-800/80 pointer-events-none"></div>
                }

                @if (order.orderItems.length > 2) {
                  <div 
                    [class.absolute]="!isExpanded(order.id)"
                    [class.bottom-1]="!isExpanded(order.id)"
                    [class.inset-x-0]="!isExpanded(order.id)"
                    class="flex justify-center mt-3 z-10 pointer-events-none">
                    
                    <button 
                      (click)="toggleShowMore(order.id)"
                      class="pointer-events-auto text-xs font-medium text-[#A6252A] dark:text-zinc-200 hover:text-black dark:hover:text-white flex items-center gap-1 py-1 px-3 rounded transition-colors">
                      <span>
                        @if ( isExpanded(order.id)) {
                            {{ 'ORDERS.SHOW_LESS' | translate }}
                        } @else{
                            {{ 'ORDERS.SHOW_ALL' | translate }}
                        }
                        </span>
                      <svg 
                        [class.rotate-180]="isExpanded(order.id)"
                        class="w-3.5 h-3.5 transition-transform duration-200" 
                        fill="none" 
                        stroke="currentColor" 
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                      </svg>
                    </button>
                  </div>
                }
              </div>
            </div>

          </div>
        </div>
      }
    </div>
  }
</div>