@import 'tailwindcss';

@font-face {
    font-family: 'Edward';
    src: url('/assets/fonts/edwardianscriptitc.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}