

<header class="admin-navbar flex items-center justify-between px-4 py-3 relative w-full">
 
  <div class="flex items-center gap-2">
    <img src="/assets/images/logo.png" alt="Rose Logo" class="w-8 h-8 rounded-full md:hidden" />
    <span class="font-semibold text-[var(--text-secondary)] text-sm">
      {{'ADMIN.NAVBAR.DASHBOARD' | translate}}
    </span>
  </div>

  <div class="hidden md:flex items-center gap-3">
    <lib-ui-lang-switcher></lib-ui-lang-switcher>
    <lib-theme-toggler></lib-theme-toggler>
  </div>

  <div class="flex items-center gap-3 relative md:hidden">

    <button (click)="toggleUserMenu()" class="focus:outline-none">
      <img 
        src="/assets/images/logo.png" 
        alt="User Avatar" 
        class="w-9 h-9 rounded-full object-cover " 
      />
    </button>
    <button 
      (click)="menuClick.emit()" 
      class="admin-navbar__menu-trigger md:hidden p-1.5 rounded-lg transition-colors"
    >
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
      </svg>
    </button>
@if (isUserMenuOpen) {
    <div 
      class="admin-navbar__menu absolute end-0 top-12 w-48 rounded-xl shadow-lg py-2 z-50 animate-fadeIn"
    >
      <a routerLink="/admin/profile" class="admin-navbar__menu-link flex items-center gap-3 px-4 py-2 text-sm">
        <i class="pi pi-user"></i>
        <span>      {{'ADMIN.NAVBAR.PROFILE' | translate}}
</span>
      </a>
      <button class="admin-navbar__menu-logout w-full flex items-center gap-3 px-4 py-2 text-sm">
        <i class="pi pi-sign-out"></i>
        <span>{{'ADMIN.NAVBAR.LOGOUT' | translate}}</span>
      </button>
    </div>
    }
  </div>
</header>
