<div class="change-password">
  <form [formGroup]="form" (ngSubmit)="submit()" novalidate class="change-password__form">
    <app-form-control formControlName="oldPassword" type="password"
      [label]="'account.OLD_PASSWORD' | translate"
      [placeholder]="'account.PASSWORD_MASK' | translate" />

    <app-form-control formControlName="newPassword" type="password"
      [label]="'account.NEW_PASSWORD' | translate"
      [placeholder]="'account.PASSWORD_MASK' | translate" />

    <app-form-control formControlName="confirmPassword" type="password"
      [label]="'account.CONFIRM_NEW_PASSWORD' | translate"
      [placeholder]="'account.PASSWORD_MASK' | translate"
      [groupError]="form.hasError('passwordMismatch') && form.touched ? ('auth.PASSWORDS_DO_NOT_MATCH' | translate) : ''" />

    <div class="change-password__actions">
      <app-button buttonType="button" variant="danger" size="lg" [loading]="isSaving()" [disabled]="isSaving()"
        (clicked)="submit()">
        {{ 'account.CHANGE_PASSWORD' | translate }}
      </app-button>
    </div>
  </form>
</div>
